apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: default  # Must be in the same namespace as your Backend
data:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      paths:
        - /var/log/containers/*.log
      processors:
        - add_kubernetes_metadata:
            host: ${NODE_NAME}
            matchers:
            - logs_path:
                logs_path: "/var/log/containers/"

    output.elasticsearch:
      hosts: ["elasticsearch.monitoring.svc.cluster.local:9200"] # Cross-namespace DNS
      username: '${ELASTICSEARCH_USERNAME:}'
      password: '${ELASTICSEARCH_PASSWORD:}'
