# Ignore Git
.git
.gitignore

# Ignore Python Environment (CRITICAL)
.venv
venv
__pycache__
*.pyc

# Ignore Heavy Models (We mount these via volumes instead)
backend/models/v1/saved_model.pb
backend/models/v1/variables/
backend/models/v2/*.onnx

# Ignore IDE settings
.vscode
.idea
backend/.venv
backend/__pycache__
