# Ignore Python Virtual Environments
venv/
.venv/
__pycache__/
*.pyc

# =======================
# Ignore Heavy Model Files
# =======================

# Baseline TF model files
backend/models/v1/saved_model.pb
backend/models/v1/variables/*

# YOLOv8 model
backend/models/v2/*.onnx
backend/models/v2/*.pt

# KEEP model folder structure (important for Jenkins)
!backend/models/
!backend/models/v1/
!backend/models/v2/
!backend/models/v1/.gitkeep
!backend/models/v2/.gitkeep

# =======================
# Datasets / Large Files
# =======================

# Ignore large COCO dataset, not small test images
evaluation/coco128/
evaluation/test_labels/

# KEEP test images (used in drift check)
!evaluation/test_images/

# =======================
# IDE & System Files
# =======================
.vscode/
.idea/
.DS_Store
venv/
