apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-backend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ml-backend
  template:
    metadata:
      labels:
        app: ml-backend
    spec:
      containers:
      # 1. Your Main App (The AI)
      - name: ml-backend
        image: souravmdileep/backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: ALERT_SERVICE_URL
          value: "http://ml-alert-service:8001/log_violation"
        resources:
          limits:
            memory: "3.5Gi"
            # cpu: "2000m"  <-- Uncapped CPU for speed

      # 2. The Sidecar (Filebeat) - NEW!
      - name: filebeat
        image: docker.elastic.co/beats/filebeat:7.17.9
        args: [
          "-c", "/etc/filebeat.yml",
          "-e",
        ]
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        securityContext:
          runAsUser: 0  # Needed to read Docker logs
        volumeMounts:
        - name: config
          mountPath: /etc/filebeat.yml
          readOnly: true
          subPath: filebeat.yml
        - name: data
          mountPath: /usr/share/filebeat/data
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        - name: varlog
          mountPath: /var/log
          readOnly: true
      
      # Volumes for Filebeat
      volumes:
      - name: config
        configMap:
          defaultMode: 0640
          name: filebeat-config
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      - name: varlog
        hostPath:
          path: /var/log
      - name: data
        emptyDir: {}