apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6eyJodHRwczovL2luZGV4LmRvY2tlci5pby92MS8iOnsidXNlcm5hbWUiOiJzb3VyYXZtZGlsZWVwIiwicGFzc3dvcmQiOiJWYXZhQDE2MDciLCJlbWFpbCI6InNvdXJhdm1kaWxlZXBAZ21haWwuY29tIiwiYXV0aCI6ImMyOTFjbUYyYldScGJHVmxjRHBXWVhaaFFERTJNRGM9In19fQ==
kind: Secret
metadata:
  creationTimestamp: null
  name: regcred
type: kubernetes.io/dockerconfigjson
